@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+sans:wght@200;300;400;500;600;700&display=swap");

/* 
main colors
#000000cc;
#4444447b;
#efefef;
#9b0885fc;
#50439d;
#644bff;
#f0ffff

shades
#000000cc #333333  #404040  #a6a6a6
#fff #f4f4f4 #efefef  #595959  #a6a6a6
#4444447b 
#ff3232 #9b0885fc #aa0992 #da0bbb #f986e8  #fbb6f1  #fee7fa
#0f2852 #50439d  #40357d  #6b5eba  #cec9e8  #efedf7
#644bff  #9180ff  #e9e5ff
#f0ffff  #007f80 #00e5e6   #b3ffff  #e5ffff

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  background-color: #9b0885fc;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #efefef;
  text-decoration: none;
  margin: 0px 10px;
}

nav a:hover {
  color: #cec9e8;
  cursor: pointer;
  transition: 0.7s;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  margin: 0px;
}

section {
  min-height: 100vh;
}

section.header {
  color: #da0bbb;
  background-image: url("img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pale {
  color: #a6a6a6;
}

.caps {
  text-transform: capitalize;
}

.title {
  padding: 0;
}

section.story1 {
  background: #9b0885fc;
  background: linear-gradient(135deg, #9b0885fc 0%, #9b0885fc 0%, #b3ffff 100%);
  color: #0f2852;
  min-height: fit-content;
}

section.story2 {
  background-image: url("img/story1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: fit-content;
  color: #f4f4f4;
}

section.story3 {
  background-color: #f4f4f4;
  background-image: linear-gradient(
    45deg,
    #f4f4f4 0%,
    #f4f4f4 60%,
    #fbb6f1 100%
  );
  color: #00e5e6;
  min-height: fit-content;
}

section.story4 {
  background-image: url("img/story2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: fit-content;
  color: #f4f4f4;
}

section.story5 {
  background: #9b0885fc;
  background: linear-gradient(135deg, #9b0885fc 0%, #ff3232 0%, #b3ffff 100%);
  color: #333333;
  min-height: fit-content;
  padding-bottom: 100px;
}

article {
  width: 90%;
  max-width: 600px;
  padding: 40px;
  margin: 0px auto;
}

h1 {
  text-align: center;
  padding: 100px 0px 0px 0px;
  font-size: 3em;
}

p {
  font-size: 2em;
  text-align: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}
