@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+sans:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

.overlay {
    width: 100%;
    background-color: rgba(0,0,0,0.8)

}


header {
    background-image: url(./Images/steph-wilson-sGpgrFUl-1o-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

ul {
    list-style: none;
}

.navbar-list {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.3rem 0;
    margin-bottom: 0;
    z-index: 1000;
}

.navbar-list-item {
    padding: 9px;
}

.navbar-link {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

#Search {
    background-color: rgba(155, 8, 133, 0.99);
    opacity: 100%;
    color: white;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: 600;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    height: 100%;
    padding: 0rem 3rem 8rem;
    color: azure;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.7) 0.1rem 0.1rem 0.3rem;
}

h1 {
    font-family: 'Josefin-sans', 700;
    font-size: 96px;
    text-transform: uppercase;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.intro {
    padding: 10rem;
    background-color: #50439d;
    color: azure;
}

body {
  padding: 0px;
  text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  max-width: 100%;
  padding: 5rem;
  background-image: url("./Images/purple-marble-wallpaper-mural-for-the-home.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.search-input {
  align-items: center;
  background: #fff;
  -ms-flex-item-align: center;
  max-width: 30%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .result-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .result-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.result-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .result-box li{
  display: block;
}
.result-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

.inspiration {
    padding: 50px;
    max-width: viewport-width;
    text-align: center;
}

.col {
    padding: 2%;
}

.img-inspo {
    max-width: 75%;
    padding: 10px;
}

.inspo-carousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.square {
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 300px;
    padding: 15px;
  }

  .square a {
    display: block;
    width: 300px;
    height: 300px;
  }

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

footer {
    background-image: url("./Images/6829104.jpg");
    position:relative;
}

.layer {
    background-color: rgba(68, 68, 68, 0.481);
    position: absolute;
    width: 100%;
    height: 100%;
}